.container{
    border: 2px solid blue;
    display: flex;
    justify-content:space-evenly;
    height: 250px;
    align-items:center;
    flex-wrap: wrap-reverse;

}
.box{
    width: 100px;
    height: 100px;
    border: 2px dashed peru;
    
}